body{ 
    margin: 0; 
     
}
a{
    text-decoration: none;
} 
#hero{ 
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    height: 70vh;
    display: flex;
    justify-content: center;
} 
.korobka{ 
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
    position: absolute;
    top: 15%;
} 
.who_i{ 
    line-height: 50%; 
    font-size: 4vh; 
    font-family: "Mulish", sans-serif;
} 
.what_do{ 
    font-size: 180%;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
} 
.textMid{ 
    font-size: 250%;
    font-family: "Mulish", sans-serif;
} 
h3{ 
    font-size: 2rem; 
    margin: 0; 
    font-weight: 400; 
} 
 
.photo{ 
    width: 20%;    
    border-radius: 100%; 
    margin: 5%; 
} 
.prizrak{ 
    z-index: 5; 
    top: 500px; 
    right:300px; 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    background-color: white; 
    box-shadow: 0 0 300px 100px white; 
} 
 
.logo{ 
    width: 70px; 
}
nav{ 
    height: 100px; 
    display: flex; 
    align-items: center; 
    padding: 0 20%;
    font-family: "Mulish", sans-serif;
} 
.link{ 
    font-size: 30px; 
    margin-left: 50px; 
    cursor: pointer; 
    transition-duration: 0.2s;
    color:#000000 
} 
.link:hover{ 
    color: #6E07F3;
} 
.right{ 
    color: #6E07F3;
    position: absolute; 
    right: 20%; 
    border: 2px solid #6E07F3;; 
    padding: 10px 30px; 
    border-radius: 40px; 
} 
.right:hover{ 
    background-color: #6E07F3;; 
    color: white; 
} 
#aboutme{ 
    background-color: #6E07F3;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 60vh;
} 
.korobka2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 15px;
    padding: 0 100px;
    width: 45%;
    position: absolute;
    bottom: -5%;
    text-align: center;
}
.teach{
    font-size: 140%;
    font-family: "Noto Sans", sans-serif;
}
#myskills{ 
    background-color: white; 
    color: black; 
    height: 60vh; 
    display: flex; 
    justify-content: center; 
} 
.upbox{ 
    display: flex; 
    margin-top: -150px; 
    width: 70%; 
    height: 80vh; 
    position: absolute; 
    border-radius: 30px;

} 
.card{ 
    background-color: #ffffff;  
    padding: 50px; 
    width: 33%; 
    text-align: center; 
    transition-duration: 0.5s;
    border-radius: 20px;
    border: 1px solid rgb(200, 200, 200);
}
.img_in_card{
    width: 5vh;
    height: 5vh;
}
.head_card{
    font-size: 40px;
    font-family: "Mulish", sans-serif;
}
.about_card{
    font-size: 140%;
    font-family: "Noto Sans", sans-serif;
}
.skills{
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    text-align: left;
}
.rod{
    display: flex;
    justify-content: space-around;
}
.skill_level{
    font-size: 20px;
    width: 150%;
}
.head_info{
    font-size: 30px;
    font-family: "Mulish", sans-serif;
    color: #6E07F3;
}

#projects{
    background-color: white; 
    color: black; 
    height: 100vh; 
    justify-content: space-around;
    text-align: center; 
    margin-top: 420px;
}
.projects_head{
    font-size: 60px;
    font-family: "Mulish", sans-serif;
    text-align: center;
}
.projects_box1{
    display: flex;
    justify-content: space-around;
}
.projects_box2{
    display:flex;
    justify-content: space-around;
}
.image{
    width: 40vh;
    height: 30vh;
    border-radius: 25px;
    border: 1px solid rgb(200, 200, 200);
    margin: 20px 20px;
}
.first_portfolio{
    position: relative;
    width: 40vh;
    height: 30vh;
    border-radius: 25px;
    border: 1px solid rgb(200, 200, 200);
    margin: 20px 20px;
}
.ugly-site{
    position: relative;
    width: 40vh;
    height: 30vh;
    border-radius: 25px;
    border: 1px solid rgb(200, 200, 200);
    margin: 20px 20px;
}
.about_projects{
    font-size: 40px;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 60px;
}

#blog{
    text-align: center;
    background-color: #6E07F3;
    color:#ffffff;
    height: 70vh;
    align-items: center;
    justify-content: center;
}
.textMid1{ 
    font-size: 80px;
    font-family: "Mulish", sans-serif;
}
.blogs{
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
    display: flex;
}
.image1{
    width: 40vh;
    height: 30vh;
    border-radius: 25px;
    border: 1px solid rgb(59, 59, 59);
}
.about_blog{
    color:#ffffff;
    font-size: 30px;
    font-family: "Noto Sans", sans-serif;
    width: 500px;
}
